<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app id="auberge-inn">
  <display-name>Système de gestion d'auberge WEB</display-name>

  <!-- Paramètres de contexte -->
  <context-param>
    <param-name>exempleParam1</param-name>
    <param-value>valeurDeExempleParam1</param-value>
  </context-param>
  <context-param>
    <param-name>exempleParam2</param-name>
    <param-value>valeurDeExempleParam2</param-value>
  </context-param>

  <!-- Configuration du servlet JSP -->
  <servlet>
    <servlet-name>jsp</servlet-name>
    <servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
    <init-param>
      <param-name>fork</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <param-name>xpoweredBy</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <param-name>javaEncoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <load-on-startup>3</load-on-startup>
  </servlet>

  <!-- Listeners pour AubergeInn -->
  <listener>
    <listener-class>AubergeInn.utils.AubergeSessionListener</listener-class>
  </listener>
  <listener>
    <listener-class>AubergeInn.utils.AubergeContextListener</listener-class>
  </listener>

  <!-- Déclaration des servlets pour AubergeInn -->
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.aubergeServlet.fInal.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Accueil</servlet-name>
    <servlet-class>com.aubergeServlet.fInal.Accueil</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>Inscription</servlet-name>
    <servlet-class>com.aubergeServlet.fInal.Inscription</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>AjouterClient</servlet-name>
    <servlet-class>com.aubergeServlet.fInal.trasationServlets.AjouterClientServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>TableauDeBord</servlet-name>
    <servlet-class>com.aubergeServlet.fInal.TableauDeBord</servlet-class>
  </servlet>


  <servlet>
    <servlet-name>SupprimerClient</servlet-name>
    <servlet-class>com.aubergeServlet.fInal.trasationServlets.SupprimerClientServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>TransactionRedirectServlet</servlet-name>
    <servlet-class>com.aubergeServlet.fInal.trasationServlets.TransactionRedirectServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>AjouterChambreServlet</servlet-name>
    <servlet-class>com.aubergeServlet.fInal.trasationServlets.AjouterChambreServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>InclureCommoditeServlet</servlet-name>
    <servlet-class>com.aubergeServlet.fInal.trasationServlets.InclureCommoditeServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>AfficherChambresLibresServlet</servlet-name>
    <servlet-class>com.aubergeServlet.fInal.trasationServlets.AfficherChambresLibresServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>AjouterCommoditeServlet</servlet-name>
    <servlet-class>com.aubergeServlet.fInal.trasationServlets.AjouterCommoditeServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>AfficherChambreServlet</servlet-name>
    <servlet-class>com.aubergeServlet.fInal.trasationServlets.AfficherChambreServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>AfficherClientServlet</servlet-name>
    <servlet-class>com.aubergeServlet.fInal.trasationServlets.AfficherClientServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>ReserverServlet</servlet-name>
    <servlet-class>com.aubergeServlet.fInal.trasationServlets.ReserverServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>SupprimerChambreServlet</servlet-name>
    <servlet-class>com.aubergeServlet.fInal.trasationServlets.SupprimerChambreServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>LoginClient</servlet-name>
    <servlet-class>com.aubergeServlet.fInal.trasationServlets.LoginClient</servlet-class>
  </servlet>

  <!-- Mapping des URL pour les servlets -->
  <servlet-mapping>
    <servlet-name>jsp</servlet-name>
    <url-pattern>*.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Accueil</servlet-name>
    <url-pattern>/Accueil</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Inscription</servlet-name>
    <url-pattern>/Inscription</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>TableauDeBord</servlet-name>
    <url-pattern>/TableauDeBord</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>AjouterClient</servlet-name>
    <url-pattern>/AjouterClient</url-pattern>
  </servlet-mapping>


  <servlet-mapping>
    <servlet-name>SupprimerClient</servlet-name>
    <url-pattern>/SupprimerClient</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>TransactionRedirectServlet</servlet-name>
    <url-pattern>/transaction</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>AjouterChambreServlet</servlet-name>
    <url-pattern>/AjouterChambreServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>InclureCommoditeServlet</servlet-name>
    <url-pattern>/InclureCommoditeServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>EnleverCommoditeServlet</servlet-name>
    <url-pattern>/EnleverCommoditeServlet</url-pattern>
  </servlet-mapping><servlet>
  <servlet-name>EnleverCommoditeServlet</servlet-name>
  <servlet-class>com.aubergeServlet.fInal.trasationServlets.EnleverCommoditeServlet</servlet-class>
</servlet>

  <servlet-mapping>
    <servlet-name>AfficherChambresLibresServlet</servlet-name>
    <url-pattern>/AfficherChambresLibresServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>AjouterCommoditeServlet</servlet-name>
    <url-pattern>/AjouterCommoditeServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>AfficherChambreServlet</servlet-name>
    <url-pattern>/AfficherChambreServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>AfficherClientServlet</servlet-name>
    <url-pattern>/AfficherClientServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ReserverServlet</servlet-name>
    <url-pattern>/ReserverServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>SupprimerChambreServlet</servlet-name>
    <url-pattern>/SupprimerChambreServlet</url-pattern>
  </servlet-mapping>


  <servlet-mapping>
    <servlet-name>LoginClient</servlet-name>
    <url-pattern>/LoginClient</url-pattern>
  </servlet-mapping>

</web-app>

